# fly.toml app configuration generated for img-spc-backend
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "img-spc-backend"
primary_region = "iad"

[build]
  builder = "paketobuildpacks"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[http_service.concurrency]
  type = "connections"
  hard_limit = 25
  soft_limit = 20

[http_service.checks]
  [http_service.checks.http_check]
    grace_period = "5s"
    interval = "10s"
    method = "get"
    path = "/"
    protocol = "http"
    timeout = "5s"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

[[processes]]
  type = "app"
  cmd = "gunicorn wsgi:app --bind 0.0.0.0:8080"
