# fly.toml app configuration
app = "spc-img-server"

primary_region = "ord"

[env]
  PORT = 8080

[build]
  builder = "paas"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.tcp_checks]
    enabled = true
    grace_period = "5s"
    interval = "15s"
    timeout = "2s"
